//***********Comments for the Blog Header
.blogHead, .blogHeadAlign, nav{
    @extend %fullBleedWrap;
}
//The header section
.blogHead{
    @include backgroundSet(url("../assets/blogHeader.jpg"));
    @extend %backKeep;
    @include flexEnable(true, false, true, false);
    position:relative;
    height:50vh;
    max-height:800px;
    min-height:600px;
    
    .blogHeadAlign{
    max-width:1600px;
    @include flexEnable(true, true, false, true);
        .blogTitle{
            margin-top:10vh;
        }
    }

}