//blomg main styling
.blogMain{
    @include flexEnable(true, false, true, false);
    position:relative;
    width:100%;
    background-color:$primary;
    //custom H4
    h4{
        margin:3% 0 3% 0;
    }
    //Custom p
    p{
        margin:1% 0 2% 0;
    }
}
//Main container for blog
.blogMainContainer{
    @include flexEnable(true, false, true, false);
    widows: 83%;
    max-width:1600px;
    padding-top:5%;
    aside{
        width:37%;
        margin-left:5%;
        img{
            width:100%;
        }
    }
    article{
        width:63%;
        margin-right: 5%;
        padding-left:4%;
        padding-bottom:3%;
        .permBorderLeft{
            border-left:7px solid $bTheB;
            border-bottom:7px solid $bTheB;
        }
    }
    //hand with lense section
    .sideBlogPicture{
        transform: scale(2.5) translatey(27%) translatex(26%);
        left:0%;
        width:35%;
    }
    //This is my blue bullet points
    .sideBlogContent{
        padding:50% 0 0 0;
        background-color:$secondary;
        li::before{
            text-decoration:none;
            list-style-type:none;
            font-style:none;
            font-weight:400;
            content: "\2022";
            color: $tertiary;
            margin-right:30px;
            // padding-left:20px;
        }
    }
    .commentHeaderTitle{
        margin:5% 0 5% 2%;
    }
    .commentHeaderContent{
        margin:3% 0 7% 5%;
    }
    .commentHeaderPic{
        margin-right:5%;
    }
    .commentVertical{
        @include flexEnable(true, true, false, false);
    }
    .commentHorizontal{
        @include flexEnable(true, false, false, false);
    }
    .blogPhotoContainer{
    z-index:10;
    font-size:0;
    right:0%;
    box-shadow:-40px 40px $bTheB;
    transform: scale(1.0) translatey(-50%) translatex(0%);
        img{
            width:100%;
        }
    }
    .extendFully{
        margin-left:4%;
    }
}
