//the header section
.formHead{
    @include backgroundSet(url("../assets/contactHeader.jpg"));
    @extend %backKeep;
    @include flexEnable(true, false, true, false);
    position:relative;
    width:100%;
    height:50vh;
    max-height:500px;
    min-height:400px;
    input{
        color:black;
    }
    //alignment of header
    .formHeadAlign{
    max-width:1600px;
    width:100%;
    @include flexEnable(true, true, false, true);
        .formTitle{
            margin:10% 0 0 15%;
        }
    }
    //Custom Form container
    .formContainer{
    position:absolute;
    background-color:$secondary;
    width:55%;
    padding:30px;
    z-index:10;
    font-size:0;
    // bottom:-25%;
    right:7%;
    top:60%;
    box-shadow:-40px 40px $bTheB;
        img{
            width:100%;
        }
    }

}