body{
    // background-color:$primary;
}
.formMain{
    @include flexEnable(true, false, true, false);
    position:relative;
    // border:3px solid red;
    width:100%;
    padding-bottom:10%;
    // height:100%;
    // margin-bottom:10%;
    background-color:$primary;
}
.formMainContainer{
    @include flexEnable(true, false, true, false);
    width:90%;
    // height:100%;
    // padding-top:10%;
    // border:3px solid purple;
    aside{
        width:100%;
        // border:3px solid blue;
        img{
            width:100%;
        }
    }
    article{
        width:63%;
        height:100%;
    } 
    h4{
        margin:2% 0 2% 0;
    }
    p{
        margin:1% 0 1% 0;
    }

}
.iconContainer{
    display:flex;
    margin:5% 0 5% 0;
}
.formIcons{
    @include flexEnable(true, false, false, false);
    li{
        margin-right:20%;
    }
}

footer{
    @extend %fullBleedWrap;
    background-color:$footColor;
    padding:1% 0 1% 0;
    section{
        text-align:center;
        
    }
    p{
        color:$secondary;
    }
}