main{
    // background-color:$primary;
    @include flexEnable(true, true, false, true);
    border:3px solid red;
    width:100vw;


    .whatIsCaptured{
        background-color:$primary;
        @include flexEnable(true, true, true, true);
        border:3px solid purple;
        // height:60vh;
        width:100vw;
    }
        .upDown{
        @include flexEnable(true, true, true, true);
        text-align:center;
        max-width:1300px;
        min-height:300px;
        margin:200px 0 200px 0;
        border:3px solid black;
    }
}