//MediaQueries for Header

@media (max-width: 1600px) {
    .photoContainer{
        width:600px;
        // bottom:0%;
        // img{
        //     transform:rotate(-90deg);
        // }
    }
}
@media (max-width: 1200px) {
    .ultimateWrapper{
        justify-content:flex-start;
        align-items:flex-end;
    }
    h1{
        //margin-top:5%;
        font-size:5rem;
     }
    nav{
        margin-right:0%;
    }
    .photoContainer{
        width:50%;
        min-width:450px;
        bottom:0%;
        // img{
        //     transform:rotate(-90deg);
        // }
    }
}
@media (max-width: 1100px) {
    aside{

    }
    .gridSec{
        justify-content:center;
        flex-direction:column;
        width:100%;
        align-items: center;

    }
    .gridSec{
        // @include flexEnable(true, false, false, false);
        // border:3px solid green;
        width:100%;
        aside, article{
            width:100%;
        }
    }
    img{
        // object-fit:contain;
        width:100%
    }
    .homeMain{
        .absolute{
            position:static;
    }
    .secondPic{
        transform: scale(1) translatex(13%) translatey(0%);
        // min-width:400px;
    }
    }
    
    
    .gridFlip{
        flex-direction:column-reverse;
    }
    article{
        width:100;
    }
    .gridSingleBlog{
        article{
            width:100%;
        }
        aside{
            width:1005%;
        }

    }

}

@media (max-width: 900px) {
.homeMain{
    .gridSec{
        @include flexEnable(true, false, false, false);
        // border:3px solid green;
        width:100%;
        aside, article{
            margin:30px 0 30px 0;
            width:100%;
        }
    }
    .singleBlog{
        width:100%;

        .gridSingleBlog{
            @include flexEnable(true, true, false, true);
            // border:3px solid green;
            width:100%;
            // article, aside{
            //     width:50%;
            // }
            // aside, article{
            // width:100%;
        
            article{
                width:100%;
                // border:3px solid blue;
                margin-top:5%;
                @include flexEnable(true, true, true, false);
            }
            aside{
                width:25%;
                display:none;
                // border:3px solid blue;
                // margin-right:5%;
                // @include flexEnable(true, true, true, true);
                div{
                    width:100%;
                    font-size:0;
                    box-shadow: 50px 40px $bTheB;
                }
                // div{
                //     width:100px;
                // }
            }
        }
        .buttonArea{
            margin:5% 0 3% 0;
            text-align:center;
            width:100%;
        }
    }
    .gallery{
        padding:7% 0 7% 0;
        @include flexEnable(true, false, true, false);
        width:100%;
        // background-color:$primary;
        
    }
    .galleryContainer{
        @include flexEnable(true, true, true, true);
        justify-content:space-between;
        // border:3px solid green;
        width:85%;
        div{
            width:90%;
            @include flexEnable(true, true, true, true);
            margin:3% 0 3% 0;
        }
        img{
            width:100%;
            // border:3px solid red;
        }
    }
}
}

@media (max-width: 900px) {
    .quickContentRow{
        flex-direction:column;
    }
    .sideSide{
        margin:5% 0 5% 0;
    }
}
@media(max-width:750){
    .homeMain{

        .galleryContainer{
        // padding:7% 0 7% 0;
        // @include flexEnable(true, true, false, true);
        display: flex;
        flex-direction: column;
            align-items: center;
            justify-content: center;


        // width:100%;
        // background-color:$primary;
        
        }
    }
}

//Media Queries for Blog

@media(max-width:1000px){
    .blogHead{
    .blogPhotoContainer{
        right:25%;
        img{
        min-width:300px;
        }
    }
    }
    
    .blogMainContainer{
        flex-direction:column-reverse;
        align-items:center;
        width:100%;
        .sideBlogContent{
            padding: 15% 0 0 0;
    }
        article{
            width:100%;
            margin-right:5%;
            padding-top:0%;

        }
        aside{
            width:85%;
        }
    }
    .sideBlogPicture{
        display:none;
    }
    .commentHeaderPic{
        img{
            height:100px;
            width:100px;
        }
    }
    .blogMainContainer{
        .blogPhotoContainer{
            transform: scale(1.2) translatey(-40%) translatex(8%);
        }
    }
}

//Media Queries for Form

@media(max-width:1300px){
    .formHead{
        .formContainer{
            right:20%;
            top:50%;
        }
    }
    .formMain{
        margin-top:25%;
    }
    .formMainContainer{
    article{
        width:0%;
        height:100%;
    } 
}

}
@media(max-width:900px){
    .formMain{
    margin-top:50%;
    }
}

@media(max-width:675px){
    .photoContainer{
        // display:none;
        bottom:20%;
        
    }
    .ultimateWrapper{
        justify-content:space-between;
        h1{
        font-size:2.5rem;
        }
    }
    nav{
        // margin-right:20%;
    li:nth-child(n+1):nth-child(-n+4){
    display:none;
    }
    li:nth-child(5){
    display:inline-block;
    
    i{
        font-size:30px;
    }
    }
}
    .formHead{
        .formContainer{
            width:85%;
            right:5%;
        }

    }
    .formTitle{
        h2{
            font-size:2rem;
            margin: 10% 0 0 0%;
        }   
    }
    .formMain{
        margin-top:100%;
    }
    .formMainContainer{
    article{
        // width:0%;
        height:100%;
    } 
}

}