//Mixin for font sizes
@mixin fontSet($fSize){
    font-size:$fSize;
}
//mixin for background color
@mixin backgroundSet($backPic){
    background-image:$backPic;
}
//crazy mixin I created for flexbox
@mixin flexEnable($lR:true, $uD:false, $centerLR:false, $centerUD:false){
    @if $lR{
        display:flex;
    }
    @if $uD{
        flex-direction:column;
    }
    @if $centerLR{
        justify-content:center;
    }
    @if $centerUD{
        align-items:center;
    }
}
