article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
}

a, li, ul, h1, h2, h3, h4, header, body, footer, p {
  color: black;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, label, nav li, button, .linkButton {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 1px;
}

.homeHeader, .homeMain .secondHeader, .blogHead, .formHead {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer, .homeMain .bleed, .homeMain .secondHeader {
  width: 100vw;
}

h1 {
  font-size: 6.9rem;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

label {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

nav li {
  font-size: 1.3rem;
  line-height: 29px;
}

main li {
  font-size: 1.1rem;
  line-height: 29px;
}

button, .linkButton {
  font-size: 1.1rem;
  width: 100%;
  line-height: 32px;
}

p {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

input {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

nav {
  margin-right: 20%;
}

nav li:nth-child(n+2):nth-child(-n+3) {
  margin: 0 15px 0 15px;
}

.buttonArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #4ceea7;
}

.commentHorizontalCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentHorizontalCenter input {
  width: 47%;
  height: 61px;
  border: 3px solid white;
  border-bottom: 3px solid #4ceea7;
}

.formCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.formComment {
  width: 100%;
}

.formComment input {
  width: 100%;
  height: 250px;
  margin: 30px 0 30px 0;
  border: 3px solid #4ceea7;
}

form {
  background-color: white;
  width: 100%;
  height: 500px;
}

.formButton {
  width: 100%;
  background-color: #4ceea7;
}

.formButton button {
  padding: 10px 0 10px 0;
  background-color: #4ceea7;
}

footer {
  background-color: #2c2c2c;
}

footer section {
  text-align: center;
}

footer p {
  color: #fafafa;
}

.homeHeader {
  background-image: url("../assets/headerImage.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100vw;
  height: 80vh;
  max-height: 800px;
  min-height: 600px;
}

.ultimateWrapper {
  z-index: 0;
  max-width: 1600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photoContainer {
  position: absolute;
  width: 40%;
  z-index: -10;
  font-size: 0;
  bottom: -25%;
  right: 0;
  max-height: auto;
  border-color: #fdfa69;
  border-left: 45px solid #fdfa69;
  border-top: 50px solid #fdfa69;
  border-bottom: 50px solid #fdfa69;
}

.photoContainer img {
  width: 100%;
}

.homeMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.homeMain .absolute {
  position: absolute;
}

.homeMain .relative {
  position: relative;
}

.homeMain .bleed {
  background-color: #effdf3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeMain .whatIsCap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 1300px;
  min-height: 300px;
  margin: 200px 0 200px 0;
}

.homeMain .whatIsCap .buttonArea {
  text-align: center;
  margin: 5% 0 3% 0;
}

.homeMain .gridSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.homeMain .gridSec aside, .homeMain .gridSec article {
  width: 50%;
}

.homeMain img {
  width: 100%;
}

.homeMain .gridPics {
  font-size: 0;
}

.homeMain .firstPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -15%;
  left: 0;
  width: 85%;
  -webkit-box-shadow: 50px 40px #fdfa69;
          box-shadow: 50px 40px #fdfa69;
}

.homeMain .secondPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 15%;
  width: 85%;
  right: 0;
  -webkit-box-shadow: -50px 40px #fdfa69;
          box-shadow: -50px 40px #fdfa69;
}

.homeMain .textRight {
  margin-left: 15%;
}

.homeMain .textLeft {
  margin-right: 15%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.homeMain .topArticleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeMain .oneByTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6% 0 2% 0;
}

.homeMain .oneByTwo .buttonArea {
  text-align: center;
  margin: 5% 0 3% 0;
  width: 200px;
}

.homeMain .midContentTwo {
  padding: 15% 0 15% 0;
}

.homeMain .quickContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1% 7% 1% 7%;
}

.homeMain .quickContentRow .quickInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeMain .quickContentRowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeMain .sideSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeMain .iconContent {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #4ceea7;
  border-radius: 50%;
}

.homeMain .iconContent i {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeMain .secondHeader {
  background-image: url("../assets/banner.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  max-height: 500px;
  position: relative;
}

.homeMain .singleBlog {
  padding: 7% 0 7% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #effdf3;
}

.homeMain .singleBlog .gridSingleBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
}

.homeMain .singleBlog .gridSingleBlog article {
  width: 70%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeMain .singleBlog .gridSingleBlog aside {
  width: 30%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeMain .singleBlog .gridSingleBlog aside div {
  width: 100%;
  font-size: 0;
  -webkit-box-shadow: 50px 40px #fdfa69;
          box-shadow: 50px 40px #fdfa69;
}

.homeMain .singleBlog .buttonArea {
  margin: 5% 0 3% 0;
  text-align: center;
  width: 300px;
}

.homeMain .gallery {
  padding: 7% 0 7% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.homeMain .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

.homeMain .galleryContainer div {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeMain .galleryContainer img {
  width: 90%;
}

footer {
  background-color: #2c2c2c;
}

footer section {
  text-align: center;
}

footer p {
  color: #fafafa;
}

.blogHead {
  background-image: url("../assets/blogHeader.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 3px solid red;
  width: 100vw;
  height: 50vh;
  max-height: 700px;
  min-height: 700px;
}

.blogHead .blogHeadAlign {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid orange;
}

.blogHead .blogHeadAlign .blogTitle {
  margin-top: 10%;
}

.blogHead .blogPhotoContainer {
  position: absolute;
  width: 55%;
  z-index: 10;
  font-size: 0;
  right: 0;
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
}

.blogHead .blogPhotoContainer img {
  width: 100%;
}

.blogHead nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
}

.blogHead nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: #effdf3;
}

.blogMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 100%;
  padding-top: 5%;
}

.blogMainContainer aside {
  width: 37%;
}

.blogMainContainer aside img {
  width: 100%;
}

.blogMainContainer article {
  width: 63%;
  height: 100%;
  padding-left: 4%;
  padding-top: 15%;
  border: 3px solid green;
}

.blogMainContainer article .permBorderLeft {
  padding-left: 5%;
  padding-top: 15%;
  border-left: 7px solid #fdfa69;
  border-bottom: 7px solid #fdfa69;
}

.blogMainContainer .sideBlogPicture {
  position: absolute;
  left: 0%;
  width: 35%;
}

.blogMainContainer .sideBlogContent {
  padding: 110% 0 0 0;
}

.blogMainContainer .sideBlogContent li::before {
  text-decoration: none;
  list-style-type: none;
  font-style: none;
  font-weight: 400;
  content: "\2022";
  color: #4ceea7;
  margin-right: 30px;
}

.blogMainContainer .commentHeaderTitle {
  margin: 5% 0 5% 2%;
}

.blogMainContainer .commentHeaderContent {
  margin: 3% 0 7% 5%;
}

.blogMainContainer .commentHeaderPic {
  margin-right: 5%;
}

.blogMainContainer .commentVertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogMainContainer .commentHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formHead {
  background-image: url("../assets/contactHeader.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 3px solid red;
  width: 100vw;
  height: 50vh;
  max-height: 700px;
  min-height: 400px;
}

.formHead input {
  color: black;
}

.formHead .formHeadAlign {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid orange;
}

.formHead .formHeadAlign .formTitle {
  margin: 10% 0 0 15%;
}

.formHead .formContainer {
  position: absolute;
  background-color: white;
  width: 55%;
  padding: 30px;
  z-index: 10;
  font-size: 0;
  right: 7%;
  top: 70%;
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
}

.formHead .formContainer img {
  width: 100%;
}

.formHead nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
}

.formHead nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 3px solid red;
  width: 100vw;
  height: 100%;
  background-color: #effdf3;
}

.formMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 100%;
  padding-top: 10%;
  border: 3px solid purple;
}

.formMainContainer aside {
  width: 37%;
  border: 3px solid blue;
}

.formMainContainer aside img {
  width: 100%;
}

.formMainContainer article {
  width: 63%;
  height: 100%;
}

.iconContainer {
  margin: 5% 0 5% 0;
}

.formIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formIcons li {
  margin-right: 4%;
}

@media (max-width: 1600px) {
  .photoContainer {
    width: 600px;
  }
}

@media (max-width: 1200px) {
  .ultimateWrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  h1 {
    font-size: 5rem;
  }
  nav {
    margin-right: 0%;
  }
  .photoContainer {
    width: 50%;
    min-width: 450px;
    bottom: 0%;
  }
}

@media (max-width: 1100px) {
  .gridSec {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .gridSec {
    width: 100%;
  }
  .gridSec aside, .gridSec article {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .homeMain .absolute {
    position: static;
  }
  .firstPic, .secondPic {
    min-width: 600px;
  }
  .gridFlip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  article {
    width: 100;
  }
  .gridSingleBlog article {
    width: 100%;
  }
  .gridSingleBlog aside {
    width: 1005%;
  }
}

@media (max-width: 900px) {
  .singleBlog {
    width: 100%;
  }
  .singleBlog .gridSingleBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .singleBlog .gridSingleBlog article {
    width: 100%;
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .singleBlog .gridSingleBlog aside {
    width: 100%;
  }
  .singleBlog .gridSingleBlog aside div {
    width: 100%;
    font-size: 0;
    -webkit-box-shadow: 50px 40px #fdfa69;
            box-shadow: 50px 40px #fdfa69;
  }
  .singleBlog .buttonArea {
    margin: 5% 0 3% 0;
    text-align: center;
    width: 300px;
  }
}

@media (max-width: 900px) {
  .quickContentRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sideSide {
    margin: 5% 0 5% 0;
  }
}

@media (max-width: 750) {
  .homeMain .galleryContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */